.main-container {
    margin-top: 8%;
}

#u-field, #p-field {
    margin-bottom: 5px;
    padding: 12px;
    margin-right: 40px;
}

#loginbutton {
    width: 100%;
}

#alertbox {
    visibility: hidden;
    text-align: center;
    margin-top: 10px;
    padding: 3px;
}

.mydropdown {
    margin-left: 10px;
}